- titles = ['Azul', 'Blokus', 'Codenames', 'Coup', 'Settlers of Catan', 'Ticket to Ride'];
-
  toID = function(string) {
    return string.replace(/\s/g, '').toLowerCase();
  }
- index = 4;
- rec1 = "Concordia";
- rec2 = "Bohnanza";
- rec3 = "Tiny Towns";

doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title If you like #{titles[index]}, try these 3 games
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0')
  link(rel='shortcut icon' type='image/png' href='../favicon.ico')
  link(rel='stylesheet' href='../style.css')
  link(href='https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap' rel='stylesheet')
.container
  .navbar
    a.logo-title(href='https://goodgameshelf.com')
      img(src='../img/logo.png' alt='Good Game Shelf')
    include ../includes/_sidebar.pug
  main
    .content
      .section
        h1 If you like #{titles[index]}, try these 3 games
        .top-bar.row
          span.date August 4, 2020
          include ../includes/_share.pug
        img(src='../img/catan.jpg' alt=titles[index])
        .game-overview
          .row
            .tag
              .icon
                img(src='../img/people.svg' alt='complexity')
              | 3-4 Players
            .tag
              .icon
                img(src='../img/time.svg' alt='play time')
              | 60-120 minutes
            .tag
              .icon
                img(src='../img/designer.svg' alt='designer')
              | Designer: Klaus Teuber
          a.text-link(href="https://amzn.to/33r9o8a") Buy #{titles[index]} on Amazon
        p
          | Settlers of Catan is a classic strategy game that combines resource management, conquest, and good old-fashioned luck. Catan is often one of the first board games that people play, and for good reason - it's simple, quick to set up, and is fun for beginners and veterans alike.
          br
          br
          | If you're looking for another game to play after Settlers, consider these games that share similar gameplay mechanics while providing a new experience.
      .section(id=`${toID(rec1)}`)
        h2 #{rec1}
        img(src='../img/concordia.png' alt=rec1)
        .tags
          .tag
            .icon
              img(src='../img/puzzle.svg' alt='complexity')
            | More Complex
          .tag
            .icon
              img(src='../img/people.svg' alt='player count')
            | 2-5 Players
          .tag
            .icon
              img(src='../img/time.svg' alt='play time')
            | Playtime: 100 minutes
          .tag
            .icon
              img(src='../img/designer.svg' alt='designer')
            | Designer: Mac Gerdts
        p
          | Concordia plays like an advanced version of Settlers of Catan with less luck. Players explore a map of the Mediterranean Sea and form settlements that provide resources - bricks, wheat, tools, wine, or cloth. However, the players decide which settlements produce, instead of a dice roll
          br
          br
          | Everyone in Concordia starts with the same 6-card hand and plays one card each turn. One card lets you move around the map and build settlements, one lets you sell goods, and another causes settlements to produce resources. However, cards go into your discard pile once they are played. You'll have to spend a whole turn to draw your hand back up, so plan efficiently!
          br
          br
          | Throughout the game, players may also buy new cards to unlock more actions that change the flow of the game. This means that each player will have a different set of cards, making each game of Concordia new and interesting.
          br
          br
          | This is definitely a game to check out if you are ready to play something more complex than Catan. Concordia takes longer to play, but it will open the door to other great strategy games!
          br
          br
          a.text-link(href="https://amzn.to/2Pnlzec") Buy #{rec1} on Amazon
      .section(id=`${toID(rec2)}`)
        h2 #{rec2}
        img(src='../img/bohnanza.png' alt=rec2)
        .tags
          .tag
            .icon
              img(src='../img/puzzle.svg' alt='complexity')
            | Less Complex
          .tag
            .icon
              img(src='../img/people.svg' alt='player count')
            | 2-7 Players
          .tag
            .icon
              img(src='../img/time.svg' alt='play time')
            | Playtime: 45 minute
          .tag
            .icon
              img(src='../img/designer.svg' alt='designer')
            | Designer: Uwe Rosenberg
        p
          | At a glance, Bohnanza is a very different game from Settlers of Catan. If you enjoy the resource trading aspect of Catan though (two sheep for one wood, anyone?), Bohnanza won't disappoint - it's all about trading beans!
          br
          br
          | Bohnanza is a simple card game that plays loosely like Go Fish. Players draw cards from a huge deck containing 17 types of beans, and they then haggle and trade with each other. Shouting may occur. It goes something like this:
          br
          br
          span.quote
            | #[strong Sam:] "Anybody got Wax Beans? I've got Green Beans"
            br
            | #[strong Felicia:] "Does anybody want 2 Chili Beans?"
            br
            | #[strong Sam:] "Does ANYBODY have wax beans??"
            br
            | #[strong Alan:] "Uhh yeah I'll give you a Black Eyed Bean for those Chili Beans"
            br
            | #[strong Sam:] "I NEED WAX BEANS"
          br
          br
          | At some point you'll realize that you can't get any more damn Wax Beans, Chili Beans, or Green Beans off of your friends, and you'll have to sell them for money. The more beans you sell of one type, the more they'll be worth. You may be tempted to hold on to your beans in hopes of getting even more, but you can only grow two types at once!
          br
          br
          | Bohnanza is a unique strategy game that makes negotiation a fun and frequent occurrence. Trading is not required in Catan, and some players outright avoid trades altogether. If you're looking for a game where trading is an integral part of the gameplay, give Bohnanza a try.
          br
          br
          a.text-link(href="https://www.boardgameprices.com/prices/bohnanza") Buy #{rec2} on Amazon
      .section(id=`${toID(rec3)}`)
        h2 #{rec3}
        img(src='../img/tinytowns.jpg' alt=rec3)
        .tags
          .tag
            .icon
              img(src='../img/puzzle.svg' alt='complexity')
            | Similar Complexity
          .tag
            .icon
              img(src='../img/people.svg' alt='player count')
            | 1-6 Players
          .tag
            .icon
              img(src='../img/time.svg' alt='play time')
            | Playtime: 45- 60 minutes
          .tag
            .icon
              img(src='../img/designer.svg' alt='designer')
            | Designer: Peter McPherson
        p
          | Tiny Towns is a tricky puzzle game in which you use resources to construct buildings in your town square. You play on your own 4x4 grid, and on your turn, you will choose a material - Hay, Brick, Wood, Stone, or Glass. The cool part is that everyone else also takes this resource, and you individually decide where to place it on your board. You will all get an equal number of resources, but you can't control what your opponents will pick, so it becomes challenging to plan out your town.
          br
          br
          | You spend the resources according to recipes to make buildings that score points in unique ways. When materials on your board match a pattern, you may discard those materials to construct that building. For example, Cottages score points anywhere they are placed, but only if fed by a Farm. Tailors score points if they're next to other Tailors, and Cloisters score points if they're placed in the corners.
          br
          br
          | Buildings take up one space each, and you'll quickly run out of room for new resources and buildings. If you get stuck and can't place another piece, your town is complete and you wait for the others to finish. Hopefully you fill up most of your town with buildings, as empty spaces cost you points at the end of the game!
          br
          br
          | Tiny Towns is more straightforward than Catan, but it adds an element of abstract strategy that makes it quite challenging. Learning the rules is easy, but mastering Tiny Towns will be difficult! This is a great option if you're looking to add a puzzle game with a fun theme to your collection.
          br
          br
          a.text-link(href="https://amzn.to/2PiNpYO") Buy #{rec3} on Amazon
include ../includes/_footer.pug