- titles = ['Azul', 'Blokus', 'Chess', 'Codenames', 'Coup', 'Settlers of Catan', 'Taboo', 'Ticket to Ride'];
-
  toID = function(string) {
    return string.replace(/\s/g, '').toLowerCase();
  }
- index = 7;
- rec1 = "Railroad Ink";
- rec2 = "Copenhagen";
- rec3 = "Power Grid";
- metadescription = 'Expand your horizons a bit more with these 3 games that introduce new game mechanics to the card drawing and route-connecting fun of Ticket to Ride.';

doctype html
include ../includes/_head.pug
.container
  .navbar
    a.logo-title(href='https://goodgameshelf.com')
      img(src='../img/logo.png' alt='Good Game Shelf')
    include ../includes/_sidebar.pug
  main
    .content
      .section
        h1 If you like #{titles[index]}, try these 3 games
        .top-bar.row
          span.date August 4, 2020
          include ../includes/_share.pug
        img(src='../img/ticket.jpg' alt=titles[index])
        .game-overview
          .row
            .tag
              .icon
                img(src='../img/people.svg' alt='complexity')
              | 2-5 Players
            .tag
              .icon
                img(src='../img/time.svg' alt='play time')
              | 40-60 Minutes
            .tag
              .icon
                img(src='../img/designer.svg' alt='designer')
              | Designer: Alan R. Moon
          a.text-link(href="https://amzn.to/3i3Q8Sf") Buy #{titles[index]} on Amazon
        p
          | Ticket to Ride has become a classic of modern board gaming thanks to its elegant design and quick-to-learn rules. As a fan of this game, you might enjoy the thrill of connecting a long path of trains, the satisfaction of blocking your opponents, or optimizing the best route to earn points.
          br
          br
          | If you're looking to expand this gaming experience further, try out the #[a.text-link(href="#") Ticket to Ride 1910] expansion, which adds more routes to the base game to increase the challenge and replayability. Otherwise, you can expand your horizons a bit more with these 3 games that introduce new game mechanics to the card drawing and route-connecting fun of Ticket to Ride.
      .section(id=`${toID(rec1)}`)
        h2 #{rec1}
        img(src='../img/railroadink.jpg' alt=rec1)
        .tags
          .tag
            .icon
              img(src='../img/puzzle.svg' alt='complexity')
            | Less Complex
          .tag
            .icon
              img(src='../img/people.svg' alt='player count')
            | 1-6 Players
          .tag
            .icon
              img(src='../img/time.svg' alt='play time')
            | Playtime: 20-30 minutes
          .tag
            .icon
              img(src='../img/designer.svg' alt='designer')
            | Designer: Hjalmar Hach, Lorenzo Silva
        p
          | In Railroad Ink, you connect train tracks and roads by literally drawing them on paper.  This game is a "Roll & Write", which means that you roll some dice to determine what you and your opponents can draw each turn. Each time you play the game, you'll have a different experience based on the dice rolls, but all players work with the same inputs.
          br
          br
          | Railroad Ink feels similar to Ticket to Ride in that you're rushing to connect routes with a limited number of turns, and there's a decent amount of luck involved. The nice twist here is that everyone plays from the same options, so you don't have situations where one person gets blocked way worse than anyone else. While the game is technically limited to 6 players, you can buy multiple copies and play it with any number of people at once.
          br
          br
          | If you've ever felt the immeasurable rage of being blocked when you're 1 turn away from completing your long route in Ticket to Ride, Railroad Ink may be a friendlier option for you. This game really packs a punch in terms of strategy despite it's simple ruleset. We love this game because anyone can learn it in 5 minutes and it can bring a large group of players together.
          br
          br
          a.text-link(href="https://amzn.to/2DfYojm") Buy #{rec1} on Amazon
      .section(id=`${toID(rec2)}`)
        h2 #{rec2}
        img(src='../img/copenhagen.png' alt=rec2)
        .tags
          .tag
            .icon
              img(src='../img/puzzle.svg' alt='complexity')
            | Similar Complexity
          .tag
            .icon
              img(src='../img/people.svg' alt='player count')
            | 2-4 Players
          .tag
            .icon
              img(src='../img/time.svg' alt='play time')
            | 20-40 Minutes
          .tag
            .icon
              img(src='../img/designer.svg' alt='designer')
            | Designer: Asger Harding Granerud, Daniel Skjold Pedersen
        p
          | If you enjoy the mechanism of collecting colored cards to execute your plans, you should give Copenhagen a try. You'll gather cards like in Ticket to Ride in this game, but Copenhagen has some interesting twists beyond that.
          br
          br
          | In this game, you take 2 cards each turn (like Ticket to Ride), but you have to take cards that are next to each other in display. Additionally, you can only hold 7 cards in your hand at a time, so nobody can hoard half the deck in their hand. All of this makes getting the cards you want a little bit trickier, but also more rewarding when it works out.
          br
          br
          | When you decide to spend the cards from your hand, you won't be making train routes; instead, you'll use them to add colorful tetris-like facade pieces to the front of your house. You have to play the pieces according to some placement rules and you might earn special bonus tiles or abilities when you place them. If you've gotten sucked into a game or 10 of Tetris, you'll enjoy the  similar (but slower-paced) spatial thinking component here.
          br
          br
          | This game benefits from the same quick turns as Ticket to Ride while shining a light on abstract strategy for a fun new puzzle. Your final house will fit right in with charming photos of the actual colorful houses along the water in Copenhagen!
          br
          br
          a.text-link(href="https://amzn.to/3i1JKeg") Buy #{rec2} on Amazon
      .section(id=`${toID(rec3)}`)
        h2 #{rec3}
        img(src='../img/powergrid.jpg' alt=rec3)
        .tags
          .tag
            .icon
              img(src='../img/puzzle.svg' alt='complexity')
            | More Complex
          .tag
            .icon
              img(src='../img/people.svg' alt='player count')
            | 2-6 Players
          .tag
            .icon
              img(src='../img/time.svg' alt='play time')
            | Playtime: 120 minutes
          .tag
            .icon
              img(src='../img/designer.svg' alt='designer')
            | Designer: Friedemann Friese
        p
          | In Power Grid, the game ends when you build a large network of connected cities and supply power to all of them. Expanding your power grid will feel similar to route building in Ticket to Ride, but the rest of the game takes a different direction.
          br
          br
          | Each turn in this game is played through a series of phases in which you will gain equipment & fuel (like coal or uranium) to powering the cities in your expanding Power Grid. To purchase equipment, you will have to bid against all the other players (just like an auction on TV). If you save any money after that, you can buy fuel and store some for the future. To win this game, you will need to manage your fuel resources by thinking several turns ahead when buying and using fuel. Finally, you will power your grid to gain more money for the next turn.
          br
          br
          | Strategically, Power Grid is much deeper than Ticket to Ride because you have to manage more moving parts with every decision. This game is a great way to begin exploring the world of heavier "euro" games that work your brain a bit harder. Overall, Power Grid is one giant balancing act of efficient spending, so if you're looking to stretch your optimization skills, this game might be up your alley.
          br
          br
          a.text-link(href="https://amzn.to/2DjT3aP") Buy #{rec3} on Amazon
include ../includes/_footer.pug