- titles = ['7 Wonders', 'Agricola', 'Azul', 'Blokus', 'Chess', 'Codenames', 'Coup', 'Dominion', 'Great Western Trail', 'Pandemic', 'Risk', 'Scrabble', 'Settlers of Catan', 'Taboo', 'Terraforming Mars', 'Ticket to Ride', 'Wingspan'];
- titlesBestOf = ['2 Players', 'Families', 'New Players'];

- var favicon = isIndex ? 'favicon.ico' : '../favicon.ico';
- var style = isIndex ? 'style.css' : '../style.css';
- var title = isIndex ? 'Good Game Shelf - Board Game Recommendations' : articleTitle;

-
  toID = function(string) {
    return string.replace(/[!:']/g, '').replace(/[\s]/g, '-').toLowerCase();
  }

head
  //- Establish data layer for GTM in separate script
  script.
    window.dataLayer = window.dataLayer || [];

  //- Google Tag Manager
  script.
    (function(w,d,s,l,i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event:'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l!='dataLayer'?'&l='+l:'';
      j.async = true;
      j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K97ZPH7');
  //- End Google Tag Manager
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title #{title}
  meta(name='description' content=metadescription)
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0')
  link(rel='shortcut icon' type='image/png' href=favicon)
  link(rel='stylesheet' href=style)
  link(href='https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap' rel='stylesheet')