.links(id='sidebar-1')
  span.link-section If you like:
  each val, i in titles
    if index === i
      div
        .toc
          a.section-title.active(href=`${toID(val)}.html`) #{val}
          .indicator
            .progress
          .section-links
            a.section-link(data-target=`${toID(rec1)}` href=`#${toID(rec1)}`) #{rec1}
            a.section-link(data-target=`${toID(rec2)}` href=`#${toID(rec2)}`) #{rec2}
            a.section-link(data-target=`${toID(rec3)}` href=`#${toID(rec3)}`) #{rec3}
    else
      - var link = isIndex ? `recommendations/${toID(val)}.html` : `${toID(val)}.html`;
      a.section-title(href=link) #{val}
  a.rounded-btn(href="https://forms.gle/HAWRTytXp4CV1nob8") Share Feedback