.links(id='sidebar-1')
  span.link-section #[strong If you like:]
  each val, i in titles
    if index === i && articleType === 'IF_YOU_LIKE'
      div
        .toc
          a.section-title.active(href=`${toID(val)}.html`) #{val}
          .indicator
            .progress
          .section-links
            a.section-link(data-target=`${toID(rec1)}` href=`#${toID(rec1)}`) #{rec1}
            a.section-link(data-target=`${toID(rec2)}` href=`#${toID(rec2)}`) #{rec2}
            a.section-link(data-target=`${toID(rec3)}` href=`#${toID(rec3)}`) #{rec3}
    else
      - var link = isIndex ? `recommendations/${toID(val)}.html` : `${toID(val)}.html`;
      a.section-title(href=link) #{val}
  span.link-section #[strong Best Games for:]
  each val, i in titlesBestOf
    if index === i && articleType === 'BEST_OF'
      div
        .toc
          a.section-title.active(href=`${toID(val)}.html`) #{val}
          .indicator
            .progress
          .section-links
            a.section-link(data-target=`${toID(rec1)}` href=`#${toID(rec1)}`) #{rec1}
            a.section-link(data-target=`${toID(rec2)}` href=`#${toID(rec2)}`) #{rec2}
            a.section-link(data-target=`${toID(rec3)}` href=`#${toID(rec3)}`) #{rec3}
            a.section-link(data-target=`${toID(rec4)}` href=`#${toID(rec1)}`) #{rec4}
            a.section-link(data-target=`${toID(rec5)}` href=`#${toID(rec2)}`) #{rec5}
            a.section-link(data-target=`${toID(rec6)}` href=`#${toID(rec3)}`) #{rec6}
            a.section-link(data-target=`${toID(rec7)}` href=`#${toID(rec3)}`) #{rec7}
    else
      - var link = isIndex ? `recommendations/${toID(val)}.html` : `${toID(val)}.html`;
      a.section-title(href=link) #{val}
  //- a.rounded-btn(href="mailto:support@spiralburst.com?subject=GGS: Request a Game") Request a Game
  a.rounded-btn(href="https://forms.gle/HAWRTytXp4CV1nob8") Share Feedback
