.links
  span.link-section If you like:
  each val, i in titles
    if index === i
      div
        .toc
          a.section-title.active(href='index.html') #{val}
          .indicator
            .progress
          .section-links
            a.section-link(data-target=`${toID(rec1)}` href=`#${toID(rec1)}`) #{rec1}
            a.section-link(data-target=`${toID(rec2)}` href=`#${toID(rec2)}`) #{rec2}
            a.section-link(data-target=`${toID(rec3)}` href=`#${toID(rec3)}`) #{rec3}
    else
      - var link = isIndex ? `recommendations/${toID(val)}.html` : `${toID(val)}.html`;
      a.section-title(href=link) #{val}

  form(action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfIq1HUIXqVRBTbyK5QrfoEKpj1WcrqozVklq_MCcZqGZ-PfA/formResponse" method="post")
    input(name="entry.430146113" required id="request" value="request")
    button.rounded-btn(type="submit") Request Game