if !isIndex
  a.logo-title(href='https://goodgameshelf.com')
    img.logo-desktop(src='../img/logo.png' alt='Good Game Shelf')
    img.logo-mobile(src='../img/logo-mobile.png' alt='Good Game Shelf')
.hamburger
  svg(viewBox="0 0 100 75", width="40", height="30")
    rect(width="100", height="15")
    rect(y="30", width="100", height="15")
    rect(y="60", width="100", height="15")
.links(id='sidebar-1')
  span.link-section #[strong If you like:]
  each val, i in titles
    if index === i && articleType === 'IF_YOU_LIKE'
      div
        .toc
          a.section-title.active(href=`${toID(val)}.html`) #{val}
          .indicator
            .progress
          .section-links
            a.section-link(data-target=`${toID(rec1)}` href=`#${toID(rec1)}`) #{rec1}
            a.section-link(data-target=`${toID(rec2)}` href=`#${toID(rec2)}`) #{rec2}
            a.section-link(data-target=`${toID(rec3)}` href=`#${toID(rec3)}`) #{rec3}
    else
      - var link = isIndex ? `recommendations/${toID(val)}.html` : `${toID(val)}.html`;
      - if (articleType === 'BEST_OF') link = `../recommendations/${toID(val)}.html`;
      a.section-title(href=link) #{val}
  span.link-section #[strong Best Games for:]
  each val, i in titlesBestOf
    if index === i && articleType === 'BEST_OF'
      div
        .toc
          a.section-title.active(href=`${toID(val)}.html`) #{val}
          .indicator
            .progress
    else
      - var link = isIndex ? `best-games/${toID(val)}.html` : `${toID(val)}.html`;
      - if (articleType === 'IF_YOU_LIKE') link = `../best-games/${toID(val)}.html`;
      a.section-title(href=link) #{val}